.wrap #icon-edit.icon32-posts-portfolio {
 background: url("../images/icons_32.png") no-repeat scroll left top transparent;
}
.admin-color-classic .wrap #icon-edit.icon32-posts-portfolio {
 background: url("../images/icons_32_b.png") no-repeat scroll left top transparent;
}
#adminmenu #menu-posts-portfolio:hover div.wp-menu-image,
#adminmenu #menu-posts-portfolio.wp-has-current-submenu div.wp-menu-image {
	background: url("../images/menu.png") no-repeat scroll left top transparent;
}
.admin-color-classic #adminmenu #menu-posts-portfolio:hover div.wp-menu-image,
#adminmenu #menu-posts-portfolio.wp-has-current-submenu div.wp-menu-image {
	background: url("../images/menu_b.png") no-repeat scroll left top transparent;
}
#adminmenu #menu-posts-portfolio div.wp-menu-image {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll left -32px transparent;
}
.admin-color-classic #adminmenu #menu-posts-portfolio div.wp-menu-image {
	background: url("../images/menu_b.png?ver=20100531") no-repeat scroll left -32px transparent;
}

/* Styles for Portfolio */

#prtfl_form_image_size label {
	display: block;
	float: left;
	width: 130px;
}
#prtfl_form_image_size select {
	width: 140px;
}
.portfolio_images_block {
	clear: both;
}
.portfolio_images_gallery {
	float: left;
	padding-bottom: 10px;
	padding-right: 6px;
}
.portfolio_images_rows {
	clear:both;
	border-top: 1px dotted #939393;
	height: 100px;
	padding-top:10px;
}
.portfolio_admin_box {
	width: 98%; 
	margin: 10px auto 10px auto; 
	background-color: #F9F9F9; 
	border: 1px solid #DFDFDF; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	padding: 10px;
}
.portfolio_admin_subbox {
	border-bottom: 4px double #DFDFDF;
	padding-bottom:5px;
	padding-top:5px;
}
#container {
	color: #686868;
}
#container .breadcrumbs {
	border-bottom: 1px solid #D8D8D8;
	font-size: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.portfolio_thumb {
	float:left;
}
.portfolio_content .read_more {
	clear: both;
	float: right;
	text-align: center;
	z-index:100;
	position:relative;
}
.portfolio_content .read_more a {
	display:block;
	width:80px;
	font-size:14px;
	color:#FFF;
	background-color:#555;
	padding:3px 0;
}
.portfolio_content .read_more a:hover {
	background-color:#2484c6;
}
.portfolio_short_content {
	float: left;
	margin-left: 15px;
	width:320px;
}
.entry_footer {
	clear:both;
	position:relative;
	height:30px;
	padding-bottom:15px;
}
.portfolio_terms {
	border-bottom: 1px solid #D8D8D8;
	clear: both;
	font-size: 13px;
	margin: 0;
	position: relative;
	top: -25px;
	z-index:99;
}
.portfolio_terms a {
	font-size:13px;
}
.portfolio_short_content p,
.portfolio_images_block {
	padding-bottom:10px;
	font-size:15px;
	margin-bottom: 0 !important;
}
.portfolio_short_content p .lable {
	font-weight:normal;
}
.portfolio_short_content .item_title {
	padding:0 0 15px;
}
.portfolio_short_content .item_title a {
	font-size:20px;
}
.portfolio_short_content .item_title a:hover {
}
.portfolio_images_block {
	font-size:15px;
}
.portfolio_images_block .lable {
	font-weight:normal;
}
.portfolio_images_rows {
	border:0;
	padding:0;
}
.portfolio_thumb img,
.portfolio_images_gallery img {
	padding:4px;
	border:1px solid #D8D8D8;
}
#portfolio_pagenation {
	margin:10px 0;
}
#portfolio_pagenation .pagination .current,
#portfolio_pagenation .pagination a {
	padding:5px;
}
#portfolio_pagenation .pagination a {
	padding:5px;
	margin: 0 2px;
	background-color: #555555;
	color: #fff;
}
#portfolio_pagenation .pagination a:hover {
	background-color: #2484C6;
}
#prtfl_loader,
#prtfl_img_loader {
	float: left;
	position: relative;
	display:none;
}
#ajax_update_postmeta,
#ajax_update_images {
	float:left;
}
#prtfl_date_additional_field, #prtfl_link_additional_field, 
#prtfl_shrdescription_additional_field, #prtfl_description_additional_field,
#prtfl_svn_additional_field, #prtfl_executor_additional_field,
#prtfl_technologies_additional_field {
	float:left;
	position:relative;
	top:2px;
	margin-right: 3px;
}
.page-template-portfolio-php .portfolio_content.entry-content,
.single-portfolio .portfolio_content.entry-content {
    max-width: 1080px;
}
.single-portfolio #fancybox-wrap,
.single-portfolio #fancybox-outer,
.single-portfolio #fancybox-content {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.page-template-portfolio .site-content .site-content,
.single-portfolio .site-content .site-content,
.tax-portfolio_technologies .site-content .site-content {
	margin-left: 0;
	width: auto;
	float: none;
}